<div *ngIf="character">
  <p *ngIf="character.busy == false">
    The character is busy in {{character.busy_place}}
  </p>

  <div *ngIf="character.busy == true">
    <div class="col-sm-3">
      Rest 5 min + 10 life
      <button (click)="takeARest(5, 5)">Take a rest 5 Gold</button>
    </div>
    <div class="col-sm-3">
      Rest 10 min + 30 life
      <button (click)="takeARest(10, 8)">Take a rest 8 Gold</button>
    </div>
    <div class="col-sm-3">
      Rest 20 min + 80 life
      <button (click)="takeARest(20, 14)">Take a rest 14 Gold</button>
    </div>
  </div>
</div>

